<%- include("partials/header") %>
<main role="main">
  <div class="no-padding">
    <img src="/images/fdbg.jpg" alt="placeholder 920" class='img-responsive' style="width:100%; height:100%;";  />
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <% restaurents.forEach(function(restaurent){ %>
        <div class="col-md-4">
          <div style="height:60%">
            <h2><%= restaurent.name %></h2>
            <p><%= restaurent.description %></p>
          </div>
          <p><a class="btn btn-menu" href="/restaurent/<%=restaurent.name%>" role="button">View Menu &raquo;</a></p>
        </div>
      <% }) %>
    </div>
    <hr>
  </div> <!-- /container -->
</main>
<%- include("partials/footer") %>
